{% extends "codeforces_app/layout.html" %}
{% block body %}
    <div id="div1">
        <!--<h3>
            add contestants to compare
        </h3>
        <input type="text" id="contestant_input" name="contestant_input"></input>
        <button id="contestant_add">click</button>
        <ol id="added_contestants">
            
        </ol>-->
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/babel" src = "{%static 'codeforces_app/compare.jsx'%}"></script>
{% endblock %}