{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>codeforces_data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel='stylesheet' href="{%static 'codeforces_app/index.css'%}">
    <link rel='stylesheet' href="{%static 'codeforces_app/compare.css'%}">
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href = "/codeforces_app/">Codeforces data</a>
            <a class="nav-item nav-link active" href="compare">Compare 2-5 Users</a>
            <a class="nav-item nav-link active" href="show">Rating distribution</a>
            <a class="nav-item nav-link active" href="profile_info">How do You compare?</a>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
        <!--<script src="{%static 'codeforces_app/show.js'%}"></script>-->
</body>
</html>
