{% extends "codeforces_app/layout.html" %}
<!-- enter your handle or rating and get top% and how far you are from average-->
{%block body%}
    <div>
        {{average}}
    </div>
    <!-- the average rating is {{average}} -->
    <div class="forms_container">
        <form class="form" id="form1" action = "" method = "POST">
            {%csrf_token%}
            <!--{{rating_form}}-->
            <label for="rating">Enter your rating</label>
            <div class="form-group">
                {{rating_form.rating}}
                <!--{{rating_form.type.as_hidden}}-->
            </div>
            <button class="btn btn-primary" type="submit" name="submit-rating">Submit</button>
        </form>
        <h1>
            or
        </h1>
        <form class="form" id="form2" action = "" method = "POST">
            {%csrf_token%}
            <label for="rating">Enter your username</label>
            <div class="form-group">
                {{handle_form.username}}
                <!--{{handle_form.type.as_hidden}}-->
            </div>
            <button class="btn btn-primary" type="submit" name="submit-handle">Submit</button>
        </form>
    </div>
    {%if load_type == 'error'%}
        <div>
            {{message}}
        </div>
    {%endif%}
    {%if load_type == 'handle' or load_type == 'rating'%}
        {{ username|json_script:"username" }}
        {{ average|json_script:"average" }}
        {%if load_type == 'rating'%}
        <div id = 'main' class = 'response_container'>
            {%if load_type == 'handle'%}
            <div class="rating_color response">
                {{username}},
            </div>
            {%endif%}
            <div style="display: inline;" class="response">
                Your rating is
            </div>
            <p style="display: inline;" class="rating_color response"> {{rating}}</p>
            <div class="response">
                You are better than {{percent_worse}}% of all contestants
            </div>
            <!--{{contestants_worse}}-->
            <div class='response'>
                Your rating is {{distance_to_average}} points {%if above %}above{%endif%}{%if not above %}below{%endif%} average
            </div>
        </div>
        {%endif%}
    {%endif%}
    {%if load_type == 'handle'%}
        <div id='extra1'></div>
        <div id='extra2'></div>
    {%endif%}
    <!--<script>
        function rating_to_color(rating){
            if(rating<1200){
                return '#B5AFAF'
                //return '#66FF66'
            }
            if(rating<1400){
                return '#66FF66'
            }
            if(rating<1600){
                return '#66FFFF'
            }
            if(rating<1900){
                return '#0000FF'
            }
            if(rating<2100){
                return '#FF33FF'
            }
            if(rating<2400){
                return '#FFFF33'
            }
            return '#FF3333'
        };
        colored = document.querySelectorAll('.rating_color')
        console.log(colored)
        colored.forEach(element => {
            //element.style.color = rating_to_color(color_to_rating({{rating}}));
            element.style.color = 'red'
        });        
    </script>-->
    {{rating|json_script:"rating"}}
    <div id="jsx1">
    </div>
    <div id="jsx2">
    </div>
    <div id="jsx3">
    </div>
{% endblock %}
{%block script%}
    {%load static%}
    <script src = "{%static 'codeforces_app/index.js'%}"></script>
    <script type="text/babel" src = "{%static 'codeforces_app/index.jsx'%}"></script>
{%endblock%}
